<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            @Html.ActionLink("Hangman", "Index", "Home", new { area = string.Empty }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                @if (this.User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("NewGame", "Index", "Games", new { area = string.Empty }, null)</li>
                    <li>@Html.ActionLink("Join Game", "AvailableGames", "Games", new { area = string.Empty }, null)</li>
                }
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
