@model Hangman.Web.ViewModels.Games.Index.IndexViewModel
@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("StartGame", "Games", FormMethod.Get, new { @class = "row" }))
{
    <br />
    <div class="col-md-6 col-md-offset-3">
        @Html.EditorFor(m => m.CategoryId, "Dropdown", new { data = Model.Categories, @class = "form-control" })
        @Html.EditorFor(m => m.GameType, "Enum", new { data = Model.Categories, @class = "form-control" })

        <input type="submit" value="Start" class="btn btn-default" />
    </div>
}